body {
    font: 400 20px/30px "Graphik LCG", Arial, Helvetica, sans-serif;
    color: #000;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1330px;
    padding: 0;
    margin: 0 auto;
}

  img {
    max-width: 100%;
  }


ul {
    list-style: none;
}

.h-style {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
}

/* buttons */

.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    /* transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    border: 1px solid orange; */
}

.btn-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn-container > li {
    padding: 6px;
}

.white {
    background-color: #fff;
    border-color: #ccc;
    color: #000;
    border: 1px solid #ccc;
}

.orange {
    background: #ff6336;
    color: #fff;
}

.small {
    min-height: 45px;
    min-width: 120px;
    padding: 12px 0 12px;
}

.large {
    min-width: 160px;
    padding: 20px 10px;
}

.black {
    color: #fff;
    background: #000;
}

.big {
    padding: 21px 20px;
    margin-top: 50px;
}

/* header */

header {
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px -5px;
}

header a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #000;
}

.header-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu a:hover {
    color: #FF6336;
}

.header-menu>li {
    padding: 0 10px 0 49px;
}

.logo-container {
    display: flex;
    align-items: center;
}

/* main block */

.white-wrapper {
    background-color: #fff;
}

.first-block {
    display: flex;
    align-items: center;
    padding: 21px 0px 121px 20px;
}

.main-text {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    padding: 54px 0;
}

.main-img {
    max-width: 758px;
    padding: 85px 0px 23px 0px;
}

.first-block h1 {
    line-height: 75px;
}

.main-text p {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    max-width: 427px;
}

.small-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 17px;
    display: block;
}


/* red block */

.red-wrapper {
    background-color: #FF9C7D;
    padding: 61px 92px 94px 101px;
}

.red-h {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    max-width: 700px;
    margin-left: 376px;
    margin-bottom: 72px;
}

.partners {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* white block */

.card-block {
    display: flex;
    flex-direction: row;
    padding: 68px 17px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.card-block a {
    color: #000;
}

.card-block p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    max-width: 446px;
}

.card-img {
    max-width: 50%;
}

.card-text {
    max-width: 50%;
    margin: 105px 0px;
}

.card-text h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    max-width: 478px;
    margin-right: 166px;
}

.reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 100px 0;
    max-width: 1330px;
}

.text-reverse {
    padding-left: 122px;
}

.start-now {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

/* yellow block */

.yellow-wrapper {
    background: #FFF8E4;
    text-align: center;
    padding-bottom: 50px;
}

.yellow-wrapper h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    padding: 106px 0 0px 0;
}

.lokalise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.lokalise li {
    flex-direction: column;
    max-width: calc(100% / 3);
    text-align: center;
    padding: 27px 45px;
}

.lokalise a {
    color: #000;
}

/* white block list */

.lokalise-role {
    text-align: center;
    padding: 96px 0px 160px;
}

.lokalise-role h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    padding: 23px 0 0;
}

.lokalise2 {
    justify-content: flex-start;
}

.lokalise2 li {
    text-align: left;
    padding: 39px 58px 43px 0px;
}

.lokalise-img2{
    max-height: 100%;
    height: 175px;
}

.lokalise2 h3 {
    font-size: 30px;
    line-height: 40px;
}

/* blue block */

.blue-wrapper {
    background: #C9E8F2;
}

.chief-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    padding: 45px 19px 113px;
}

.chief-text {
    max-width: 70%;
}

.chief-text p {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

.span-chief {
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

/* brown block */

.brown-wrapper {
    background: #DABC98;
}

.management-wrap {
    display: flex;
    justify-content: space-between;
    padding: 78px 0px;
}

.management-wrap h3 {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    max-width: 460px;
}

.management {
    align-items: center;
    display: flex;
    justify-content: space-around;
    max-height: 170px;
    flex-grow: 2;
}

.management1 {
    border-right: 1px solid black;
}

.management2 {
    flex-grow: 1;
    padding: 88px 63px;
}

/* white block with birds */

.integrate {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0;
    text-align: center;
}

.integrate h2{
    max-width: 790px;
    margin: 0;
}

.integrate p {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    max-width: 540px;
}

/* red block try it  */

.lokalization {
    padding: 78px 0;
}

.lokalization h2 {
    max-width: 790px;
}

.lokalization p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* footer */

.grey-wrapper {
    background: #EEEEEE;
}

.footer-wrapp {
    width: 100%;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
}

.case-studies {
    display: flex;
    flex-direction: column;
    max-width: 23%;
    margin: 77px 0px;
}

.case-studies h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}

.footer-menu {
   display: flex;
   align-content: flex-start;
   margin: 0;
   padding: 81px 77px;
}

.footer-menu ul {
    padding: 0 2px 0 12px;
}

.footer-menu li {
    margin: 0;
    padding: 5px 23px;
    line-height: 15px;
}

.footer-wrapp a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

.footer-span {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.lokalise-footer {
    display: flex;
    justify-content: space-between;
    padding: 57px 17px;
    font-size: 12px;
    line-height: 15px;
}

.footer-logo-wrapp {
  max-width: 400px;
  display: flex;
}

.footer-logo-wrapp span {
    display: inline-block;
    margin-left: 20px;
}

.footer-logo-wrapp a {
    width: 45%;
}

/* hover */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}
  .hvr-grow:hover{
    transform: scale(1.1);
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
  .hvr-float:hover {
    transform: translateY(-8px);
}

.hvr-orng {
    color: black;
}

.hvr-orng:hover {
    color: #FF6336;
}